@charset "UTF-8";


:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff; 
}

body.escuro{
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #ff5522;
  --destaque-inverso: #a73917;
  --fundo-card: #444444;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  background-color: var(--fundo-principal);
  transition: background-color 0.5s, color 0.5s;

}

header{
  background-color: var(--destaque);
  position: sticky;
  top: 0;
  z-index: 1;
}

#menu{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

#menu ul{
  list-style-type: none;
  display: flex;
  gap: 10px;
}

#menu a{
  color: var(--fundo-card);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
  padding: 12px 15px;
  border-radius: 10px;
  transition: background-color 0.5s, color 0.5s;
}

#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  
}

main{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
} 

#social{
  margin-top: 20px;
  grid-column: 2;
  background-color: var(--fundo-card);
  padding: 20px 20px;

  border-radius: 10px;
  margin-bottom: 20px;
}

#social img{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;

  display: block;
  margin: auto;
  border-radius: 50%;
  border: 5px solid var(--fundo-principal);
  outline: 5px solid var(--destaque);
}

#social h1{
  color: var(--destaque);
  margin: 10px 0px;
  font-size: 1.5em;
  text-align: left;
  
  
}

#social p{
  color: var(--texto);
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
}

#social a{
  color: var(--destaque);
  text-decoration: none;
}

#redes-sociais{
  display: flex;
  gap: 12px;
  justify-content: center;
  font-size: 1.2em;
}

#redes-sociais a:hover{
  color: var(--destaque-inverso);
  transition: color 0.3s;
}

section#social, article{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#detalhes{
  grid-column: 2;
}

#detalhes article{
  background-color: var(--fundo-card);
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#detalhes h2{
  color: var(--destaque);
  margin-bottom: 20px;
}

#video{
  display: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: auto;

}

#video iframe{
  display: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}

#skills-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.item{
  margin-bottom: 40px;
}

.info{
  display: flex;
  justify-content: space-between;
}

.name{
  color: var(--texto);
  font-weight: bold;
}

.porcent{
  color: var(--destaque);
  font-weight: bold;
}

.barra{
  margin-top: 5px;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--fundo-principal);
}

.progresso{
  height: 8px;
  background-color: var(--destaque-inverso);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#formacao-container{
  display: flex;
  flex-flow: column-reverse nowrap;
}

.curso{
  margin-bottom: 20px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 10px;
  border-left: 6px solid var(--destaque-inverso);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.11);
  transition: border-color 0.5s, border-width 0.5s;
}

.curso:hover{
  border-color: var(--destaque);
  border-width: 15px;
  cursor: pointer;
}

.perido{
  font-variant: small-caps;
  font-weight: bold;
  font-size: 0.8em;
}

.instituicao{
 color: var(--destaque-inverso);
}

.diploma{
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: 100;
}

#projetos-container{
  display: flex;
  flex-flow: column-reverse nowrap;
}

.projeto{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--fundo-principal);
  margin-bottom: 20px;
  border-radius: 10px;
  border-left: 6px solid var(--destaque-inverso);
  transition: border-color 0.5s, border-width 0.5s;
}

.projeto:hover{
  border-color: var(--destaque);
  border-width: 15px;
  cursor: pointer;
}

.foto{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.nome-projeto{
  color: var(--destaque-inverso);
  font-size: 1.4em;
}

.projeto .descricao{
  font-size: 0.8em;
  color: var(--texto);
  margin: 5px 0px;
}

.projeto details{
  font-size: 0.8em;
  color: var(--texto);
}

.projeto-data{
  color: var(--texto);
  font-size: .8em;
  font-weight: bold;
}

footer{
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;

}

footer a{
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

footer a:hover{
  text-decoration: underline;
  color: var(--destaque-inverso);
}

@media screen and (min-width: 768px) {
  #skills-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;

  }

  main{
    grid-template-columns: auto 300px 1fr auto;
  }

  #social{
    grid-column: 2/3;
    margin: 20px;
    height: fit-content;
    position: sticky;
    top: 79px;
  }

  #detalhes{
    grid-column: 3/4;
    margin: 20px 20px 20px 0px
  }

  .projeto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .projeto-info{
    width: 80%;
  }

  .foto{
    width: 20%;
    border-radius: 10px;
    max-height: 150px;
    max-width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    margin-left: 50px;

}
}