@charset "UTF-8";


:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}

header{
  background-color: var(--destaque);
}

#menu{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  
}

#menu ul{
  list-style-type: none;
  display: flex;
  gap: 10px;
}

#menu a{
  color: var(--fundo-card);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
  padding: 12px 15px;
  border-radius: 10px;
}

#menu a:hover{
  background-color: #66bbff;
  color: #0077ff;
  transition: background-color 0.5s, color 0.5s;
}
