@charset "UTF-8";


:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  background-color: var(--fundo-principal);
}

header{
  background-color: var(--destaque);
}

#menu{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  
}

#menu ul{
  list-style-type: none;
  display: flex;
  gap: 10px;
}

#menu a{
  color: var(--fundo-card);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
  padding: 12px 15px;
  border-radius: 10px;
}

#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  transition: background-color 0.5s, color 0.5s;
}

main{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
} 

#social{
  margin-top: 20px;
  grid-column: 2;
  background-color: var(--fundo-card);
  padding: 20px 20px;

  border-radius: 10px;
  margin-bottom: 20px;
}

#social img{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;

  display: block;
  margin: auto;
  border-radius: 50%;
  border: 5px solid var(--fundo-principal);
  outline: 5px solid var(--destaque);
}

#social h1{
  color: var(--destaque);
  margin: 10px 0px;
  font-size: 1.5em;
  
}

#social p{
  color: var(--texto);
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 300;
  text-indent: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

#social a{
  color: var(--destaque);
  text-decoration: none;
}

#redes-sociais{
  display: flex;
  gap: 12px;
  justify-content: center;
  font-size: 1.2em;
}

#redes-sociais a:hover{
  color: var(--destaque-inverso);
  transition: color 0.3s;
}

section#social, article{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#detalhes{
  grid-column: 2;
}

#detalhes article{
  background-color: var(--fundo-card);
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#detalhes h2{
  color: var(--destaque);
  margin-bottom: 20px;
}

#apresentacao{
  display: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: auto;
  
}

#video iframe{
  display: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 10px;
  
}

#skills-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.item{
  margin-bottom: 40px;
}

.info{
  display: flex;
  justify-content: space-between;
}

.name{
  color: var(--texto);
  font-weight: bold;
}

.porcent{
  color: var(--destaque);
  font-weight: bold;
}

.barra{
  margin-top: 5px;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--fundo-principal);
}

.progresso{
  height: 8px;
  background-color: var(--destaque-inverso);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
  #skills-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;

  }
}

#formacao-container{
  display: flex;
  flex-flow: column-reverse nowrap;
}

.curso{
  margin-bottom: 20px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 10px;
  border-left: 6px solid var(--destaque-inverso);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.11);
}

.curso:hover{
  border-color: var(--destaque);
  border-width: 15px;
  transition: border-color 0.5s, border-width 0.5s;
  cursor: pointer;
}

.perido{
  font-variant: small-caps;
  font-weight: bold;
  font-size: 0.8em;
}

.instituicao{
 color: var(--destaque-inverso);
}

.diploma{
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: 100;
}

